/* 메인 페이지 상단바 */
.header {
    align-items: center;
    justify-self: space-between;
    padding: '10px'
  }

/* 퍼피어트 텍스트 (상단바) */
.puppiettxt{
    padding: 30px;
    font-weight: bold;
    flex-basis: 30%;
    font-size: 40px;
    color: black;

}

/* 로고 이미지 */
.logo{
    padding: 10px;
    width: 200px;
    flex-basis: 70%;
    display: flex;
    align-items: center;
}

/* 로고 오른쪽 */
.maintext {
    font-size : 20px;
    color : #FFC9C9;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.maintext:hover {
    color :#FFC9C9;
}

/* 상단바 타이틀 */
.bar-container{
        display: flex;
        justify-content: center;
        gap: 90px;   /* 여백 */
        background-color: #FFC9C9;
        height: 50px;
        width: 1920px;
    font-weight: bold;
    align-items: center;
}

.bartext:hover{
    font-weight: bold;

}
.bartext{
    text-decoration: none;
    color: black;
    font-size: 20px;

}
.bartext {
    overflow: visible;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: color .4s;
    transition: color .4s
  }
  
  @keyframes eff24-move {
    30% {
      -webkit-transform: translate3d(0, -5px, 0) rotate(5deg);
      transform: translate3d(0, -5px, 0) rotate(5deg)
    }
    50% {
      -webkit-transform: translate3d(0, -3px, 0) rotate(-4deg);
      transform: translate3d(0, -3px, 0) rotate(-4deg)
    }
    80% {
      -webkit-transform: translate3d(0, 0, 0) rotate(-3deg);
      transform: translate3d(0, 0, 0) rotate(-3deg)
    }
    100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
    }
  }
  
  .bartext:hover {
    -webkit-animation-name: eff24-move;
    animation-name: eff24-move;
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1
  }
  

/* Main 페이지 부가 설명 */
.additional{
    text-decoration: none;
    color: #777777;
    font-size: 19px;
    font-weight: bold;

}

.maingraybox{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainboxcontent{
    text-decoration: none;
    color: black;
    text-align: center;
    margin-bottom: 10px;
}

.imgboxcontent{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 230%;
}

.more{
    text-decoration: none;
    color: rgb(98, 98, 98);
    margin-right: 50px;
    font-size: 16px;
}


/* 전체 폰트 적용 */
*{
    font-family: 'KyoboHand';
}

.foodtext{
    font-size: 22px;
    text-decoration: none;
    color: black;
}

.foodbox{
    border: 1px solid lightgray;
    width: 300px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* 마이페이지 로그인이 필요합니다 모달 창 css */
.custom-button {
  background-color: #777777; /* 기존의 버튼 색상으로 변경 */
  border-color: #777777; /* 기존의 버튼 색상으로 변경 */
  transition: background-color 0.3s, border-color 0.3s;
}

.custom-button:hover {
  background-color: #FFC9C9; /* 마우스 호버 시의 원하는 색상으로 변경 */
  border-color: #FFC9C9; /* 마우스 호버 시의 원하는 색상으로 변경 */
}