

.today{
    color: red;
    /* background-color: yellow; */
}

.calender_container{
    /* background-color: #f0f0f0; */
    padding-top : 50px
}

.calendar{
    margin-left: 350px;
    margin-top : -20px;
    width: 900px;
}

/* 캘린더 글자 */
.cal_title{
    font-weight: bold;
    font-size : 2em;
    color: #707070;
    margin-right: 10px;
}

/* 년도 & 해당 월에 속하지 않는 날짜 */
.text{
    font-size: 0.8em;
    color: #707070;
}

/* 월 */
.text.month{
    margin-right: 5px;
    font-weight: bold;
    font-size: 1.6em;
    color:#707070;
}

/* 요일 */
.days.row{
    background-color: #FFC9C9;
    text-align: center;
}

/* 달력 contents */
.body{
    width: 900px;
    height: 350px;
}

/* 달력 셀 표시 */
.col.cell{
    border: 0.4px solid gray;
    /* background-color: white; */
    height: 110px;
}

/* 오늘 날짜표시 */
.selected{
    /* background-color: lightgrey; */
    color:blue; 
} 



/* 랜덤 운동 챌린지 */
.exercise-content{
    /* 위치조정 */
    /* border: 0.4px solid gray; */
    background-color: white;
    margin-left: 1300px;
    margin-right:350px;
    margin-top: -380px;
    border-radius: 30px;
    height: 180px;

    /* 내용 정렬 */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.challenge_title{
    font-weight: bold;
    font-size: 20px;
}

.challenge_content{
    margin-top: 10px;
    font-size: 18px;
}

.challenge_btn{
    margin-top: 15px;
    padding: 8px 20px;
    font-size: 16px;
    background-color: #FFC9C9;
    border:none;
    cursor: pointer;
    border-radius: 10px;
}

/* stamp 구역 */
.stamp_area{
    /* border: 0.4px solid gray;/ */
    background-color: white;
    margin-left: 1300px;
    margin-right:350px;
    margin-top: 20px;
    border-radius: 30px;
    height: 380px;
    
    /* 내용 정렬 */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.stamp_content{
    margin-top: 10px;
    font-size: 18px;
}

/* .disabeld{
    background-color: #707070;
    color: white;
    cursor: not-allowed;
} */

.stamp-icon {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    border-radius: 50%;
    transition: border 0.2s ease-in-out, background-color 0.2s ease-in-out;
  }
  
  .stamp-icon.today {
    /* border: 2px solid red;
    background-image: url('./stamp/stamp1.png');  */
    width: 80px;
    height: 80px;
    background-size: cover;
  }
  
  .stamp-icon.not-today {
    border: 2px solid gray;
  }
  
  .stamp-icon.stamped {
    background-color: #FFC9C9;
  }