/* .custom-input {
    border: 2px solid #F0F0F0;
    border-radius: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
} */

.custom-box{
    background-color: white; /* 흰색 배경색 설정 */
    padding: 10px; /* 내부 여백 설정 */
    border-radius: 5px;
    height: 35px; /* 내용에 맞게 높이 조정 */
    margin-top: 10px;
    display: flex;
    align-items: center;
}