.container {
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #F0F0F0;
  justify-content: space-around; /* 컨텐츠를 페이지 전체에 걸쳐 분포시킴 */
  flex-direction: column;
  align-items: center;
}

.content {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 1rem;
}
