/* 메인 페이지 상단바 */
.header {
    display: flex;
    align-items: center;
    
  }

/* 로고 이미지 */
.logo{
    flex-basis: 20%;
    padding: 30px;
}

/* 상단바 타이틀 */
.bartext{
    font-size : 17px;
    flex-basis: 30%;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: black;


}

/* 메인 페이지 로그인 */
.login{
    font-size : 14px;
    flex-basis: 10%;
    text-decoration: none;
    color: black;
    font-weight: bold;

}

.login:hover {
    color :peru;
}

/* 메인 페이지 회원가입 */
.signUp{
    font-size : 14px;
    flex-basis: 10%;
    text-decoration: none;
    color: black;
    font-weight: bold;

}

.signUp:hover {
    color :peru
}

/* 로그인 페이지 text */

.logintext{
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin: 20px;
}

.txt{text-decoration: none;
    font-weight: bold;
    color: gray;
    padding: 20px;
}

.txt:hover{
    text-decoration: underline;
}


/* 로그인 페이지에서 mainpage2 이동 */

.mainpage2{text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 20px;
}

.mainpage2:hover {
    color : #777777 ;

}

/* Mainpage2에서 새로운 상단바 text */
.main2txt{
    font-size : 14px;
    flex-basis: 10%;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Main 페이지 부가 설명 */
.additional{
    text-decoration: none;
    color: white;
    font-size: 19px;
    font-weight: bold;
}

/* FindId 페이지 타이틀 */
.findTitle{
    font-size: 26px;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    text-decoration: underline;
    
}

.hideTitle{
    font-size: 26px;
    padding: 20px;
    text-decoration: none;
    color: gray;
}