.mypagetext{
    text-decoration: none;
    color: black;
    display: block;
    margin-left: 34px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.atagtext{
    display: flex;
    justify-content: center;
    margin: 50px;
    font-size: 22px;
    color: gray;

}

.title{
    font-size: 26px;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    /* text-decoration: underline; */
    
}

.hideTitle{
    font-size: 26px;
    padding: 20px;
    text-decoration: none;
    color: gray;
}